<fa-icon [icon]="closeIcon" (click)="close()"></fa-icon>
<div class="qr-scan-wrapper">
  <h2>{{ 'webConnect.browser.title' | translate }}</h2>
  <div>
    <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custom">
      <div class="container" *ngIf="enabled && hasPermission">
        <div class="row">
          <div class="four column">
            <label>{{ 'webConntect.browser.chooseVideo' }}</label>
          </div>
          <div class="eight columns space-bottom">
            <p-dropdown [options]="devices" [(ngModel)]="selectedDevice" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!hasPermission">
        <p>
          {{ 'qr.issues.permission' | translate }}
        </p>
      </ng-container>

      <zxing-scanner #scanner [scannerEnabled]="enabled" [device]="selectedDevice"
        (scanSuccess)="handleQrCodeResult($event)">
      </zxing-scanner>

      <p>
        {{ 'webConntect.browser.description' }}
      </p>
      <ol>
        <li>{{ 'webConntect.browser.step1' }}</li>
        <li>{{ 'webConntect.browser.step2' }}</li>
      </ol>
    </p-scrollPanel>
  </div>
</div>
