<div class="floating-buttons">

  <button class="p-button-rounded p-button-xl p-button p-component p-button-icon-only" routerLink="/settings/appearance">
    <span class="p-button-icon">
      <fa-icon [icon]="faPaintBrush" [fixedWidth]="true"></fa-icon>
    </span>
    <span aria-hidden="true" class="p-button-label">&nbsp;</span>
  </button>
</div>

<app-monitor-display [matchInfo]="signalrService.info$ | async"></app-monitor-display>

<div *ngIf="!(signalrService.info$ | async)" class="p-d-flex p-flex-grow p-ai-center p-jc-center">
  <span style="font-size: 1.5rem" *isDesktop>
    <fa-icon [icon]="faWifi" [fixedWidth]="true"></fa-icon>&nbsp;{{'monitor.empty' | translate}}
  </span>
  <ng-container *isBrowser>
    <span style="font-size: 1.5rem;text-align: center;" *ngIf="signalrService.gatewayStatus$ | async; let status;">
      <span *ngIf="status === 5">
        <fa-icon [icon]="faWifi" [fixedWidth]="true"></fa-icon>&nbsp;{{'monitor.empty' | translate}}
      </span>
       <span *ngIf="status !== 5">
        <fa-icon [icon]="faQr" [fixedWidth]="true"></fa-icon>&nbsp;{{'monitor.emptyNoToken' | translate}}
      </span>
    </span>
  </ng-container>

</div>

