<div class="floating-buttons">

  <button class="p-button-rounded p-button-xl p-button p-component p-button-icon-only" routerLink="/settings/appearance">
    <span class="p-button-icon">
      <fa-icon [icon]="faPaintBrush" [fixedWidth]="true"></fa-icon>
    </span>
    <span aria-hidden="true" class="p-button-label">&nbsp;</span>
  </button>
</div>

<div class="container {{$fontSizeClass | async}}" *ngIf="signalrService.$info | async;let matchInfo" #container
     (click)="$event.preventDefault();$event.stopPropagation()">
  <p-card id="monitor-friendly-clan" class="no-padding">
    <app-team [clan]="matchInfo.friendlyClan" [averages]="[matchInfo.friendlyTeam, matchInfo.friendlyTeamSolo]" [cw]="matchInfo.matchGroup == 'CLAN'">
    </app-team>
  </p-card>
  <p-card id="monitor-enemy-clan" class="no-padding"
          *ngIf="matchInfo.matchGroup != 'COOPERATIVE' && matchInfo.matchGroup != 'PVE'">
    <app-team [clan]="matchInfo.enemyClan" [averages]="[matchInfo.enemyTeam, matchInfo.enemyTeamSolo]" [cw]="matchInfo.matchGroup == 'CLAN'">
    </app-team>
  </p-card>
  <p-card id="monitor-friendly" class="no-padding" [class.high-contrast-mode]="settingsService.form.monitorConfig.highContrastMode.model">
    <ng-container *ngFor="let player of matchInfo.friendly; let l = last; let f = first;">
      <app-player [playerInput]="player" [cw]="matchInfo.matchGroup == 'CLAN'" class="player-card" [last]="l" [first]="f">
      </app-player>
      <hr class="player-seperator" *ngIf="!l"/>
    </ng-container>
  </p-card>
  <p-card id="monitor-enemy" class="no-padding" [class.high-contrast-mode]="settingsService.form.monitorConfig.highContrastMode.model">
    <ng-container *ngFor="let player of matchInfo.enemy; let l = last; let f = first;">
      <app-player [playerInput]="player" [cw]="matchInfo.matchGroup == 'CLAN'" class="player-card" [last]="l" [first]="f">
      </app-player>
      <hr class="player-seperator" *ngIf="!l"/>
    </ng-container>
  </p-card>

  <p-contextMenu #contextMenu styleClass="custom-contextmenu" appendTo="body" triggerEvent="ignore" [global]="true"
                 [model]="items">
  </p-contextMenu>
</div>


<div *ngIf="!(signalrService.$info | async)" class="p-d-flex p-flex-grow p-ai-center p-jc-center">
  <span style="font-size: 1.5rem">
    <fa-icon [icon]="faWifi" [fixedWidth]="true"></fa-icon>&nbsp;{{'monitor.empty' | translate}}
  </span>
</div>

