<div class="container {{$fontSizeClass | async}}" *ngIf="signalrService.$info | async;let matchInfo">
  <p-card id="monitor-friendly-clan" class="no-padding">
    <app-team [clan]="matchInfo.friendlyClan" [team]="matchInfo.friendlyTeam" [cw]="matchInfo.matchGroup == 'CLAN'">
    </app-team>
  </p-card>
  <p-card id="monitor-enemy-clan" class="no-padding"
    *ngIf="matchInfo.matchGroup != 'COOPERATIVE' && matchInfo.matchGroup != 'PVE'">
    <app-team [clan]="matchInfo.enemyClan" [team]="matchInfo.enemyTeam" [cw]="matchInfo.matchGroup == 'CLAN'">
    </app-team>
  </p-card>
  <p-card id="monitor-friendly" class="no-padding" [class.high-contrast-mode]="config.highContrastMode">
    <ng-container *ngFor="let player of matchInfo.friendly; let l = last; let f = first;">
      <app-player [player]="player" [cw]="matchInfo.matchGroup == 'CLAN'" class="player-card" [last]="l" [first]="f">
      </app-player>
      <hr class="player-seperator" *ngIf="!l" />
    </ng-container>
  </p-card>
  <p-card id="monitor-enemy" class="no-padding" [class.high-contrast-mode]="config.highContrastMode">
    <ng-container *ngFor="let player of matchInfo.enemy; let l = last; let f = first;">
      <app-player [player]="player" [cw]="matchInfo.matchGroup == 'CLAN'" class="player-card" [last]="l" [first]="f">
      </app-player>
      <hr class="player-seperator" *ngIf="!l" />
    </ng-container>


  </p-card>
</div>
