@mixin desktopHD {

  &.normal{
    grid-template-columns: 34% 22% 22% 22%;
    grid-template-rows: repeat(3, 1fr);

    &.player {
      grid-template-areas:
        'name ovr-winrate ovr-battles karma'
        'ship winrate battles wins'
        'pr avg-damage avg-frags avg-xp';
    }

    &.hidden,
    &.bot {
      grid-template-areas:
        'name . . .'
        'ship message message message'
        '. message message message';
    }

    &.no-battles {
      grid-template-areas:
        'name ovr-winrate ovr-battles karma'
        'ship message message message'
        'pr message message message';
    }
  }

  &.legacy {
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'name battles wins avg-damage'
      'ship avg-xp winrate avg-frags';

    &.hidden,
    &.bot {
      grid-template-areas:
        'name message message message'
        'ship message message message';
    }

    &.no-battles {
      grid-template-areas:
        'name message message message'
        'ship message message message';
    }
  }

  &.compact {
    grid-template-columns: 34% 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'name karma ovr-battles ovr-winrate .'
      'ship pr battles winrate avg-damage';

    &.hidden,
    &.bot {
      grid-template-areas:
        'name message message message message'
        'ship message message message message';
    }

    &.no-battles {
      grid-template-areas:
        'name karma ovr-battles ovr-winrate .'
        'ship message message message message';
    }
  }
}
