<!-- <app-menu></app-menu>
<app-path-picker *isDesktop ></app-path-picker>
<app-connection></app-connection>
 -->


<div class="p-d-flex p-ai-center">
  <p-sidebar [(visible)]="sidebarVisible" appendTo="body" [showCloseIcon]="false">
    <app-menu [closeAction]="toggleSidebar"></app-menu>
  </p-sidebar>
  <div id="menuIconWrapper" class="iconWrapper" (click)="toggleSidebar()">
    <span *ngIf="appMenu.badge | async" class="badge">{{appMenu.badgeCount | async}}</span>
    <fa-icon id="menuIcon" [icon]="menuIcon" size="2x" [fixedWidth]="true"></fa-icon>
  </div>
  <ng-container *showOn="'tablet';higher:true">
    <div id="matchInfoWrapper" class="iconWrapper" *ngIf="signalrService.$info | async;let matchInfo">
      <span>{{matchInfo.matchGroup | matchGroup | translate}}</span>
      <ng-container *ngIf="matchInfo.matchGroup == 'CLAN'">
        &nbsp;({{ 'monitor.season' | translate }} {{matchInfo.clanwarsSeason}})
      </ng-container>
      <ng-container *ngIf="matchInfo.matchGroup == 'RANKED'">
        &nbsp;({{ 'monitor.season' | translate }} Season {{matchInfo.rankedSeason}})
      </ng-container>
      <span>, {{matchInfo.map.name}}</span>
    </div>
  </ng-container>
</div>

<div class="p-d-flex p-ai-center p-jc-end states">
  <div *ngIf="screenshotService" class="iconWrapper p-ml-2" (click)="screenshotService.screenshot()">
    <fa-icon [icon]="cameraIcon" size="2x" [fixedWidth]="true"
             [pTooltip]="'screenshot' | translate" tooltipPosition="bottom"></fa-icon>
  </div>

  <ng-container *isDesktop>
    <span class="p-d-flex p-ai-center p-ml-2">
      <span [class.p-disabled]="settingsService.form.forcePVP.disabled">{{ 'monitor.forcePVP' | translate }}</span>
      <p-inputSwitch class="p-ml-2" [formControl]="settingsService.form.forcePVP"></p-inputSwitch>
    </span>
  </ng-container>
  <app-path-picker class="p-ml-2" *isDesktop></app-path-picker>
  <app-status class="p-ml-2"></app-status>
  <app-connection class="p-d-flex p-ai-center"></app-connection>
  <div class="iconWrapper p-ml-2" *isBrowser (click)="fullscreenSwitch()">
    <fa-icon *ngIf="!isFullscreen" [icon]="expandIcon" size="2x" [fixedWidth]="true"></fa-icon>
    <fa-icon *ngIf="isFullscreen" [icon]="compressIcon" size="2x" [fixedWidth]="true"></fa-icon>
  </div>
</div>


