<!-- <app-menu></app-menu>
<app-path-picker *isDesktop ></app-path-picker>
<app-connection></app-connection>
 -->



<div id="menuIconWrapper" class="iconWrapper" (click)="toggleSidebar()">
  <span *ngIf="appMenu.badge | async" class="badge">{{appMenu.badgeCount | async}}</span>
  <fa-icon id="menuIcon" [icon]="menuIcon" size="2x" [fixedWidth]="true"></fa-icon>
</div>
<div id="matchInfoWrapper" class="iconWrapper" *ngIf="signalrService.$info | async;let matchInfo">
  <span>{{matchInfo.matchGroup | matchGroup | translate}}</span>
  <ng-container *ngIf="matchInfo.matchGroup == 'CLAN'">
    &nbsp;(Season {{matchInfo.clanwarsSeason}})
  </ng-container>
  <ng-container *ngIf="matchInfo.matchGroup == 'RANKED'">
    &nbsp;(Season {{matchInfo.rankedSeason}})
  </ng-container>
  <span>, {{matchInfo.map.name}}</span>
</div>

<div class="states">
  <app-path-picker *isDesktop></app-path-picker>
  <app-status></app-status>
  <app-connection></app-connection>
  <div class="iconWrapper" *isBrowser (click)="fullscreenSwitch()">
      <fa-icon *ngIf="!isFullscreen" [icon]="expandIcon" size="2x" [fixedWidth]="true"></fa-icon>
      <fa-icon *ngIf="isFullscreen" [icon]="compressIcon" size="2x" [fixedWidth]="true"></fa-icon>
    </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" appendTo="body" [showCloseIcon]="false">
  <app-menu [closeAction]="toggleSidebar"></app-menu>
</p-sidebar>
