<div class="container small" externalLink>
  <p-card>
    <h2>About wows-monitor</h2>
    <p>
      Version: <strong>{{version}}</strong>
    </p>
    <p>
      This app was created with <a href="https://electronjs.org/">Electron</a> and <a
        href="https://angular.io/">Angular</a>.<br />
      It functions as a user interface for data provided by a centralized API written in <a
        href="https://github.com/dotnet/core">.NET Core</a>.<br /><br />
    </p>
    <p>
      This app uses publicly available data from the Wargaming API.
      By using this app you agree to:
    </p>
    <ul>
      <li>fetching data from the API on your behalf</li>
      <li>processing of fetched data</li>
      <li>display of fetched data in this app</li>
    </ul>
    <p>
      It only accesses publicly available information (e.g. number of battles, statistics). It does not collect any
      private data (e.g. email address, number of credits). None of your personal stats are stored on the server.
    </p>
    <p>
      The color values for the Personal Rating and other stats are provided by <a
        href="https://wows-numbers.com">wows-numbers.com</a><br /><br />
    </p>
    <p>
      If you are interested in the source code for this app check out the <a
        href="https://dev.azure.com/wows-monitor/app">repository.</a><br /><br />
    </p>
    <p>
      If you need support, have suggestions for features or want to report a bug you can either open a ticket in the
      repository or join the wows-monitor discord server. <br />
      <a href="https://discord.gg/Tds7WBs">discord.gg/Tds7WBs</a>
    </p>
    <i class="pi pi-money-bill" style="font-size: 2em;"></i>
    <p>
      If you want to support this project financially you can do so by becoming a patron at <a
        href="https://www.patreon.com/wowsmonitor">patreon.com/wowsmonitor</a> or
      donating
      via <a href="https://www.paypal.me/stewieoO">paypal.me/stewieoO</a>. <br />
    </p>
  </p-card>
</div>
