<div class="filters-wrap">
  <div class="filter-wrap">
    <label>{{'clanwars.filters.region.label' | translate}}</label>
    <p-multiSelect appendTo="body" [options]="clanwars.regionOptions" [formControl]="service.form.region"
      [filter]="false" [maxSelectedLabels]="3">
      <ng-template let-items pTemplate="selectedItems">
        <ng-container *ngIf="items?.length <= 0">
          {{'clanwars.filters.region.empty' | translate}}
        </ng-container>
        <ng-container *ngIf="items?.length > 0">
          <span class="select-item" *ngFor="let item of items">{{item | region}}</span>
        </ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <span>{{item.value | region}}</span>
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="filter-wrap">
    <label>{{'clanwars.filters.league.label' | translate}}</label>
    <p-multiSelect appendTo="body" [options]="clanwars.leagueOptions" [formControl]="service.form.league"
      [defaultLabel]="'clanwars.filters.league.empty' | translate">
      <ng-template let-items pTemplate="selectedItems">
        <ng-container *ngIf="items?.length <= 0">
          {{'clanwars.filters.league.empty' | translate}}
        </ng-container>
        <ng-container *ngIf="items?.length > 0 && items?.length < 5">
          <span class="select-item" *ngFor="let item of items"> {{ 'monitor.cw.leagues.' + item | translate }}</span>
        </ng-container>
        <ng-container *ngIf="items?.length >= 5">
          {{'clanwars.filters.multiSelected' | translate: { count: items?.length } }}
        </ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ 'monitor.cw.leagues.' + item.value | translate }}
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="filter-wrap">
    <label>{{'clanwars.filters.division.label' | translate}}</label>
    <p-multiSelect appendTo="body" [options]="clanwars.divisionOptions" [formControl]="service.form.division"
      [defaultLabel]="'clanwars.filters.division.empty' | translate">
      <ng-template let-items pTemplate="selectedItems">
        <ng-container *ngIf="items?.length <= 0">
          {{'clanwars.filters.division.empty' | translate}}
        </ng-container>
        <ng-container *ngIf="items?.length > 0">
          <span class="select-item" *ngFor="let item of items">Division {{ item | roman }}</span>
        </ng-container>
      </ng-template>
      <ng-template let-item pTemplate="item">
        Division {{ item.value | roman }}
      </ng-template>
    </p-multiSelect>
  </div>

  <div class="filter-wrap" *ngIf="isHistory">
    <label>{{'clanwars.filters.season.label' | translate}}</label>
    <p-dropdown appendTo="body" [options]="clanwars.seasonOptions" [formControl]="service.form.season"
      [placeholder]="'clanwars.filters.season.empty' | translate" [showClear]="true">
      <ng-template let-item pTemplate="selectedItem">
        {{ item.label }}
      </ng-template>
      <ng-template let-item pTemplate="item">
        {{ item.value }}
      </ng-template>
    </p-dropdown>
  </div>
</div>
