<div class="app-titlebar-draggable p-d-flex p-ai-center p-jc-between">
  <div class="p-d-flex p-flex-row p-ai-center">
    <img class="titlebar-icon p-ml-2 p-mr-2" src="assets/icons/favicon-light.ico" />
    <span class="titlebar-title p-mr-4"> {{title}}</span>
  </div>
  <div class="icon-wrapper">
    <div class="title-icon" (click)="minimize()">
      <fa-icon [icon]="minimizeIcon"></fa-icon>
    </div>

    <div class="title-icon" (click)="maximize()">
      <fa-icon *ngIf="windowState?.maximizable && !windowState?.isMaximized" [icon]="maximizeIcon"></fa-icon>
      <fa-icon *ngIf="windowState?.isMaximized" [icon]="restoreIcon"></fa-icon>
    </div>

    <div class="title-icon close" (click)="close()">
      <fa-icon [icon]="closeIcon"></fa-icon>
    </div>
  </div>
</div>
