//main color scheme
$primaryColor:#F15A22;
$primaryDarkColor:darken($primaryColor, 5%);
$primaryDarkerColor:darken($primaryColor, 10%);
$primaryTextColor:#212121;
$secondaryColor: #353535;
$secondaryDarkColor: darken($secondaryColor, 6%);
$secondaryLightColor: lighten($secondaryColor, 6%);

//Global
$fontFamily:"Open Sans",
"Helvetica Neue",
sans-serif;
$fontSize:14px;
$textColor:#dedede;
$textSecondaryColor:#888888;
$borderRadius:3px;
$transitionDuration:.2s;
$primeIconFontSize:1.25rem;

$successColor:#34A835;
$warningColor:#ffba01;
$dangerColor:#e91224;

$formsInputBackground: $secondaryLightColor;
$formsInputBackgroundLight: $secondaryLightColor;
$formsInputBackgroundAccent: $secondaryDarkColor;
