@import '_variables.scss';

:root {
  --surface-a: #262626;
  --surface-b: #353535;
  --surface-c: #272727;
  --surface-d: #383838;
  --surface-e: #262626;
  --surface-f: #262626;
  --text-color: $textColor;
  --text-color-secondary: $textSecondaryColor;
  --primary-color: $primaryColor;
  --primary-color-text: $primaryTextColor;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

* {
  box-sizing: border-box;
}

html {
  font-family: $fontFamily;
  color: $textColor;
  font-size: $fontSize;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

body {
  background-color: $secondaryColor;
  padding: 0;
  margin: 0;

  &.layout-scroll-block {
    overflow: hidden;
  }
}

.no-list-ui {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: $primaryColor;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primaryDarkColor;
  }

  &:active {
    color: $primaryDarkerColor;
  }

}

input[disabled].file-input,
input[readonly].file-input {
  color: #dedede !important;

  &:focus,
  &:active,
  &:hover {
    border-color: $secondaryColor;
    outline: none !important;

  }
}

.p-button-rounded.p-button-xl {
  padding: 0.750rem 1.5rem!important;;
  height: 3.143rem!important;

  span {
    font-size: 1.5rem;
  }
}

.floating-buttons {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 99;
  opacity: 0;
  transition: .3s all ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.force-show {
    opacity: 1 !important;
  }

  &.right {
    left: auto;
    right: 3rem;
  }
}

.round-icon-button {
  position: relative;
  background: $primaryColor;
  color: #FFF !important;
  display: block;
  border-radius: 50%;
  height: 2.5rem;
  font-size: 1.5rem;
  width: 2.5rem;
  cursor: pointer;
  transition: .3s all ease-in-out;

  &:hover,
  &:active {

    background: $primaryDarkColor;
  }

  fa-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.custom .p-scrollpanel-wrapper {
  border-right: 9px solid fade-out($secondaryDarkColor, $amount: 0.5);
}

.custom .p-scrollpanel-bar {
  background-color: $primaryColor;
  opacity: .2 !important;
  transition: opacity .3s ease-in-out;
}

.custom .p-scrollpanel-bar:hover,
.custom .p-scrollpanel-bar:active {
  background-color: $primaryColor;
  opacity: .6 !important;
}

.p-button {
  &.showLabel-0 {
    .p-button-text {
      display: none;
    }
  }

  &.showLabel-1 {
    .p-button-text {
      display: block;
    }
  }
}

.p-card {
  margin-bottom: 1rem;
}


.p-toast-custom .p-toast-message {

  background: $secondaryLightColor !important;
  box-shadow: inset 2px 0px 2px -1px transparentize($secondaryDarkColor, 0.4);
  color: $textColor !important;

  &.p-toast-message-success {
    border-left: 4px solid $successColor;
  }

  &.p-toast-message-warn {
    border-left: 4px solid $warningColor;
  }

  &.p-toast-message-error {
    border-left: 4px solid $dangerColor;
  }
}

.p-toast {
  border-radius: $borderRadius;
  overflow: hidden;

  .p-toast-message-content {
    padding: 0;
  }

  .p-toast-custom-content {
    padding: .5em 1rem;
    background: $secondaryLightColor;
    box-shadow: inset 2px 0px 2px -1px transparentize($secondaryDarkColor, 0.4);

    &.success {
      border-left: 4px solid $successColor;
    }

    &.c-warn {
      border-left: 4px solid $warningColor;
    }

    &.c-error {
      border-left: 4px solid $dangerColor;
    }
  }
}

.custom-popup {
  // height: calc(100vh - 100px);
  width: calc(100vw - 20px);
  min-width: 80vw;

  &.p-dialog .p-dialog-content {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.custom-contextmenu {
}

ngx-loading-bar.desktop {
  #loading-bar .bar {
    top: 25px
  }
}

.main-top-spacer {
  height: .5rem;
}

.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0 0.3rem;
  font-size: .8rem;
  text-align: center;
  text-align: center;
  background: $primaryColor;
  color: $textColor;

  &.circular {
    border-radius: 50%;
    height: 0.7rem;
    width: 0.7rem;
    position: absolute;
    top: 0;
    right: -.7rem;
    padding: 0;
  }
}

.circular-badge-wrapper {
  position: relative;
}

.align-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 1rem;
  }
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .align-right-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    > * {
      margin-left: auto;
    }

    > p-button {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .custom-popup {
    max-width: 530px;
    min-width: auto;
    height: auto;
    width: auto;
  }

  .custom-contextmenu {
    li a {
      white-space: nowrap;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
  .floating-buttons {
    opacity: 1;
  }
}
