html,
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

body {
  font-family: $fontFamily;
  color: $textColor;
  font-size: $fontSize;
  background-color: $secondaryColor;
  padding: 0;
  margin: 0;

  &.layout-scroll-block {
    overflow: hidden;
  }
}

p {
  margin-bottom: 1em !important;
}

a {
  cursor: pointer;
}

.space-bottom {
  margin-bottom: 1em;
}

.align-right-wrapper {
  display: flex;

  >* {
    margin-left: auto;
  }
}


.floating-buttons {
  position: fixed;
  bottom: 3em;
  left: 3em;
  z-index: 99;
  opacity: 0;
  transition: .3s all ease-in-out;

  &:hover {
    opacity: 1;
  }

  &.force-show {
    opacity: 1 !important;
  }

  &.right {
    left: auto;
    right: 3em;
  }
}

.round-icon-button {
  position: relative;
  background: $primaryColor;
  color: #FFF !important;
  display: block;
  border-radius: 50%;
  height: 2.5em;
  font-size: 1.5em;
  width: 2.5em;
  cursor: pointer;
  transition: .3s all ease-in-out;

  &:hover,
  &:active {

    background: $primaryDarkColor;
  }

  fa-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



.custom .ui-scrollpanel-wrapper {
  border-right: 9px solid fade-out($secondaryDarkColor, $amount: 0.5);
}

.custom .ui-scrollpanel-bar {
  background-color: $primaryColor;
  opacity: .2 !important;
  transition: opacity .3s ease-in-out;
}

.custom .ui-scrollpanel-bar:hover,
.custom .ui-scrollpanel-bar:active {
  background-color: $primaryColor;
  opacity: .6 !important;
}

.ui-button {
  &.showLabel-0 {
    .ui-button-text {
      display: none;
    }
  }

  &.showLabel-1 {
    .ui-button-text {
      display: block;
    }
  }
}

.ui-card {
  margin-bottom: 1em;
}

.ui-toast {
  border-radius: $borderRadius;
  overflow: hidden;

  .ui-toast-message-content {
    padding: 0;
  }

  .ui-toast-custom-content {
    padding: .5em 1em;
    background: $secondaryLightColor;
    box-shadow: inset 2px 0px 2px -1px transparentize($secondaryDarkColor, 0.4);

    &.c-success {
      border-left: 4px solid $successColor;
    }

    &.c-warn {
      border-left: 4px solid $warningColor;
    }

    &.c-error {
      border-left: 4px solid $dangerColor;
    }
  }
}

.custom-popup {
  // height: calc(100vh - 100px);
  width: calc(100vw - 20px);
  max-height: calc(100vh - 100px);

  &.ui-dialog .ui-dialog-content {
    background: $secondaryColor;
    height: 100%;
  }
}

.custom-contextmenu {}

main {
  height: calc(100% - 55px);
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  padding: .5em 1em;
  padding-top: 0;
}

.main-top-spacer {
  height: .5em;
}

.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0 0.3em;
  font-size: .8em;
  text-align: center;
  text-align: center;
  background: $primaryColor;
  color: $textColor;

  &.circular {
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
    position: absolute;
    top: 0;
    right: -.7em;
    padding: 0;
  }
}

.circular-badge-wrapper {
  position: relative;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .custom-popup {
    max-width: 530px;
    height: auto;
    width: auto;
  }

  .custom-contextmenu {
    li a {
      white-space: nowrap;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media (min-width: 1800px) {
  .floating-buttons {
    opacity: 1;
  }
}
