@import '_variables.scss';

.favorite-list {

  padding: .25rem;
  background: $secondaryLightColor;
  border-radius: 3px;
  border: 1px solid $secondaryColor;
  min-height: 3.1rem;

  p-chip {
    .p-chip {
      margin: .25rem;
      background: $primaryColor;
    }
  }
}

.clan-search-item {
  img {
    height: 1.2rem;
    margin-right: .5rem;
  }
}

p-card {
  .p-card {
    overflow: hidden;
  }

  &.no-padding .p-card-body {
    padding: 0;
    overflow: hidden;

    .p-card-content {
      padding: 0;
      overflow: hidden;
      display: flex;
      flex: 1;
    }
  }
}

app-match-item {
  &.normal {
    border-top: .5em solid $successColor;
    border-bottom: .5em solid $dangerColor;
  }

  &.inverted {
    border-bottom: .5em solid $successColor;
    border-top: .5em solid $dangerColor;
  }

}


.info-row {
  display: flex;
  flex-direction: row;

  > * {
    margin-right: .5rem;
  }

  img {
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  app-match-item {
    &.normal {
      border-top: none;
      border-bottom: none;
      border-left: .5em solid $successColor;
      border-right: .5em solid $dangerColor;
    }

    &.inverted {
      border-top: none;
      border-bottom: none;
      border-right: .5em solid $successColor;
      border-left: .5em solid $dangerColor;
    }
  }
}


app-match-item-team {

  cursor: pointer;

  &:hover {
    background: transparentize($secondaryColor, 0.5) !important;
  }
}

.livefeed-filters {
  overflow: hidden;
}

.claninfo {
  margin-bottom: 1rem;

  .info-row {
    margin-bottom: .5rem;
  }

  &.ranking-wrapper {
    display: flex;
    flex-direction: row;

    > .info-row {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.rating-wrapper {
    display: flex;
    direction: row;

    > :first-child {
      margin-right: 2rem;
    }
  }
}
