@import '_variables.scss';

p-card.no-padding .ui-card-body {
  padding: 0;
}

app-match-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left center right";
  gap: .5em;

  &.normal {
    border-left: .5em solid $successColor;
    border-right: .5em solid $dangerColor;
  }

  &.inverted {
    border-right: .5em solid $successColor;
    border-left: .5em solid $dangerColor;
  }

  #left {
    grid-area: left;
    text-align: left;
  }

  #center {
    grid-area: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .region {
      height: 2em;
    }

    .vs {
      font-size: 1.5em;
    }
  }

  #right {
    grid-area: right;
    text-align: right;
  }
}

app-match-item-team {
  padding: .5em;
  cursor: default;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 60% auto;
  grid-template-areas: "name name"
    "ladder stage"
    "region stage"
    "global stage";

  &.empty {
    grid-template-areas: "empty empty"
      "empty empty"
      "empty empty"
      "empty empty";
  }

  &:not(.empty) {
    &.right {
      grid-template-columns: auto 60%;
      grid-template-areas: "name name"
        "stage ladder"
        "stage region"
        "stage global";
    }

    cursor: pointer;

    &:hover {
      background: transparentize($secondaryColor, 0.5) !important;
    }
  }

  .info-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    >* {
      margin-right: .5em;
    }

    img {
      width: 1.5em;
    }
  }

  &.right {
    .info-row {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  #name {
    grid-area: name;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #ladder {
    grid-area: ladder;
  }

  #region {
    grid-area: region;
  }

  #global {
    grid-area: global;
  }

  #stage {
    grid-area: stage;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .stage-progress {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .fade {
        opacity: .3;
      }
    }
  }

  #empty {
    grid-area: empty;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.history-filter-card {
  position: relative;

  .reload-list {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2em;
    z-index: 999;
    transition: .3s all ease-in-out;
  }
}

.livefeed-filter-card {
  position: relative;

  .show-hide-filters {
    position: absolute;
    right: 0;
    bottom: -2em;
    font-size: 1.2em;
    z-index: 999;
    transition: .3s all ease-in-out;
  }

  &.hidden {
    .show-hide-filters {
      bottom: -1em;
    }
  }
}

.livefeed-filters {
  overflow: hidden;
}

.select-item {
  background: $primaryColor;
  padding: .1em 0.3em;
  border-radius: 4px;
  margin: 0 0.3em;
}

.ui-chips {
  .ui-inputtext {
    cursor: default !important;
    width: 100%;
  }

  .ui-chips-input-token {
    input {
      visibility: hidden;
    }
  }
}

app-favorite-input {
  app-clan-search {
    display: block;
    margin-bottom: .5em;
  }
}

.filters-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;

  &.history {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &.livefeed {
    grid-template-columns: auto auto 40%;
    grid-template-areas: "liveUpdate notification favorites"
      "favsOnly notificationFavsOnly favorites";
  }

  .filter-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.disabled {
      opacity: .5;
    }

    label {
      margin-bottom: .3em;
    }

    &.input-switch {
      flex-direction: row;
      align-items: center;

      p-inputswitch {
        margin-right: .5em;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .ui-multiselect,
    .ui-dropdown,
    .ui-autocomplete,
    .ui-autocomplete input {
      width: 100%;
    }
  }
}

#liveUpdate {
  grid-area: liveUpdate;
}

#favsOnly {
  grid-area: favsOnly;
}

#notification {
  grid-area: notification;
}

#notificationFavsOnly {
  grid-area: notificationFavsOnly;
}

#favorites {
  grid-area: favorites;
}
