@import '_variables.scss';

.configtool {
  .options-wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;


    .options-input-wrapper {
      margin-bottom: 1rem;
      display: grid;
      grid-gap: 1rem;
      align-items: center;
      grid-template-columns: max-content 1fr;

      input[type="text"] {
        width: 100%;
      }
    }

    .settings {
      margin-bottom: 1rem;

      section {
        border-bottom: 0;
      }

      summary,
      .input-wrap {
        &.disabled {
          opacity: 0.4;
        }
      }

      .checkbox {
        grid-area: checkbox;
        text-align: right;
      }
    }

    .addButton {
      float: right;
    }
  }

  .button-row {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
  }

  .console-output {
    border-radius: 3px;
    height: 300px;
    background: #000;
    padding: 1rem;

    .line {
      display: block;
      font-family: monospace;
      font-size: 1.2rem;

      &.error {
        color: lighten($dangerColor, 10%);
      }

      &.warn {
        color: lighten($warningColor, 10%);
      }
    }
  }
}

@media (min-width: 550px) {
  .options-right.settings article {
    grid-template-areas: 'caption checkbox'
      'summary input';
    grid-template-columns: auto max-content;
    grid-template-rows: auto 1fr;
  }
}
/* Larger than tablet */
@media (min-width: 1000px) {
  .configtool {
    .options-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}
