.not-eligable-overlay {
  display: none !important;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .not-eligable & {
    display: flex !important;
  }
}

.match-history-item {
  &:hover {
    background: transparentize($secondaryColor, 0.5) !important;
  }
}
