@import '_variables.scss';
@import 'panelStyles/mobile.scss';
@import 'panelStyles/phablet.scss';
@import 'panelStyles/desktop.scss';
@import 'panelStyles/desktopHD.scss';

.monitor {
  line-height: 1rem;

  .container {
    display: grid;
    // margin-bottom: 2rem WHY WAS THIS HERE
    grid-gap: 1rem;
    grid-template-areas:
      'title'
      'friendly-clan'
      'friendly'
      'enemy-clan'
      'enemy';

    > p-card .p-card {
      margin-bottom: 0;
      overflow: hidden;
    }

    &.fz-Small {
      font-size: 0.7rem;
    }

    &.fz-Normal {
      font-size: 0.85rem;
    }

    &.fz-Big {
      font-size: 1rem;
    }

    &.fz-Huge {
      font-size: 1.2rem;
    }
  }


  #monitor-title {
    grid-area: title;
  }

  #monitor-friendly-clan {
    grid-area: friendly-clan;
  }

  #monitor-enemy-clan {
    grid-area: enemy-clan;
  }

  #monitor-friendly {
    grid-area: friendly;
  }

  #monitor-enemy {
    grid-area: enemy;
  }

  p-card.no-padding .p-card-body {
    padding: 0;
  }


}

.p-overlaypanel.no-tip {
  &:after,
  &:before {
    display: none;
  }
}

.p-overlaypanel.no-padding {
  border: none;
  border-radius: 3px;

  .overlaypanel-close {
    // background: $textColor;
    color: $primaryTextColor;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .p-overlaypanel-content {
    padding: 0;
    display: flex;
    flex: 1;
    border-radius: 3px;
    overflow: hidden;
  }
}

.clan-overlay-content {
  min-width: 300px;
  max-width: 300px;
}

// .monitor-player {
//   // display: block;
//   background: $secondaryDarkColor;

//   &.high-contrast-mode {
//     background: #FFF;
//     color: $primaryTextColor;

//     .monitor-player.me {
//       border-color: $primaryTextColor;
//     }
//   }


// }

.high-contrast-mode {
  .p-card {
    background: #FFF;
  }


  .monitor-player {
    color: $primaryTextColor;

    &:hover {
      background: transparentize($secondaryColor, 0.75) !important;
    }
  }
}

hr.player-seperator {
  background: $secondaryColor;
  height: 1px;
  margin: 0 1rem;
  padding: 0;
  border: 0;
}

.monitor-player {
  box-sizing: border-box;
  display: block;
  padding: 0 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  // border: 1px solid #FFF;

  &:not(.me):not(.border-mode) {
    border-color: transparent !important;
  }

  &.border-mode {
    padding: 2px 1em 2px .3rem;
    border-width: 0 0 0 .7rem;
    border-style: solid;
  }

  &:hover {
    background: transparentize($secondaryColor, 0.5) !important;
  }

  .info-wrapper {
    display: grid;
    grid-gap: .5rem;
    padding: calc(0.75em - 2px) 0;
    width: 100%;
    overflow: hidden;

    &.force-white:not(.contrast-mode) > *:not(.player-name) strong {
      color: $textColor !important;
    }

    &.force-white.contrast-mode > *:not(.player-name) strong {
      color: $primaryTextColor !important;
    }

    &.hidden,
    &.bot {

      stat-acc-wr,
      stat-acc-battles,
      stat-karma,
      stat-ship-wr,
      stat-ship-battles,
      stat-ship-wins,
      stat-ship-pr,
      stat-ship-damage,
      stat-ship-frags,
      stat-ship-xp {
        display: none !important;
      }

      #message {
        display: block;
      }
    }

    &.no-battles {

      stat-ship-wr,
      stat-ship-battles,
      stat-ship-pr,
      stat-ship-wins,
      stat-ship-damage,
      stat-ship-frags,
      stat-ship-xp {
        display: none !important;
      }

      #message {
        display: block;
      }
    }

    &.legacy {
      stat-acc-wr,
      stat-acc-battles,
      stat-karma,
      stat-ship-pr {
        display: none !important;
      }
    }

    &.compact {
      stat-ship-wins,
      stat-ship-xp,
      stat-ship-frags {
        display: none !important;
      }
    }

    @include mobile;

    #message {
      grid-area: message;
      display: none;
      margin: auto;
    }

    .player-name {
      grid-area: name;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;

      img {
        height: 1rem;
        margin-right: .2rem;
      }
    }

    stat-acc-wr {
      grid-area: acc-winrate;
    }

    stat-acc-battles {
      grid-area: acc-battles;
    }

    stat-karma {
      grid-area: karma;
    }

    .ship {
      grid-area: ship;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    stat-ship-wr {
      grid-area: winrate;
    }

    stat-ship-battles {
      grid-area: battles;
    }

    stat-ship-wins {
      grid-area: wins;
    }

    stat-ship-pr {
      grid-area: pr;
    }

    stat-ship-damage {
      grid-area: avg-damage;
    }

    stat-ship-frags {
      grid-area: avg-frags;
    }

    stat-ship-xp {
      grid-area: avg-xp;
    }
  }

  &.last {
    .info-wrapper {
      border-bottom: 0;
    }
  }


}

app-value-label {
  position: relative;
  display: inline-block;

  .solo-icon {
    margin-left: .2em;

    i {
      font-size: .7em;
    }

    //position: absolute;
    right: -1em;
    top: -.5em;
  }
}

app-team {
  display: block;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    background: transparentize($secondaryColor, 0.5);
  }

  .team-overall-wrapper {
    .inner {
      display: inline-block;

      > * {
        &:first-child {
          display: block;
        }

        margin-right: 1rem;
      }

      // margin-right: 2rem;
    }
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 576px) {
  .monitor-player {
    .info-wrapper {
      @include phablet;
    }
  }
}

/* Larger than tablet */
@media (min-width: 768px) {
  .monitor {
    .container {

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 'friendly-clan friendly-clan enemy-clan enemy-clan'
        'friendly friendly enemy enemy';
    }
  }

  .monitor-player {
    .info-wrapper {
      @include mobile;
    }
  }

  .clan-overlay-content {
    min-width: 500px;
    max-width: 500px;
  }
}

/* Larger than desktop */
@media (min-width: 992px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .monitor {
    .container {
      grid-template-rows: auto auto;
      grid-template-areas:
        'friendly-clan friendly-clan enemy-clan enemy-clan'
        'friendly friendly enemy enemy';
    }
  }

  .monitor-player {
    .info-wrapper {
      @include desktop;
    }
  }
}

@media (min-width: 1440px) {
  .monitor-player {
    .info-wrapper {
      @include desktopHD;
    }
  }
}
