@import '_variables.scss';

.settings {

  section {
    margin-bottom: 2.5rem;
  }

  article {
    padding: 1em 0;
    border-bottom: 1px solid $secondaryColor;
    display: grid;
    gap: .5rem;
    grid-template-areas: 'caption'
      'summary'
      'input';
    grid-template-columns: auto;
    grid-template-rows: auto;

    &.disabled {
      opacity: .4;
    }

    p-dropdown {
      line-height: normal;
    }

  }

  section:last-child {
    margin: 0;
  }

  section:last-child article:last-child {
    border: 0;
  }

  h3 {
    margin-bottom: .5rem;
  }

  caption {
    grid-area: caption;
    font-weight: 600;
    text-align: left;
  }

  summary {
    grid-area: summary;
    font-size: .85rem;
    opacity: 0.8;
  }

  .input-wrap {
    grid-area: input;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    flex-direction: row-reverse;

    input[type="text"] {
      min-width: 400px;
    }
  }
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
  .settings article {
    gap: 1rem;
    grid-template-areas: 'caption .'
      'summary input';
    grid-template-columns: auto max-content;
    grid-template-rows: auto 1fr;

    .input-wrap {
      padding-top: 0;
      flex-direction: row;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
