/* Mobile first queries */

.centered-logo-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  .centered-logo {
    text-align: center;

    video {
      margin: auto;
      width: 80px;
      margin-bottom: 10px;
      display: block;
    }

    > div {
      padding: .5em 0;
      width: calc(100% + 3em);
      transform: translateX(-1.5em);
    }

    .p-progressbar {
      height: .3rem;
    }
  }
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 576px) {}

/* Larger than tablet */
@media (min-width: 768px) {}

/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
