@import '_variables.scss';

app-titlebar {

  display: block;
  background: $secondaryColor;
  height: 25px;
  overflow: hidden;
  padding: 2px;
  position: relative;

  .app-titlebar-draggable {
    -webkit-app-region: drag;
    width: 100%;
    overflow: hidden;
  }

  .app-title-wrapper {
    float: left;
    margin-left: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 21px;
    font-size: .8rem;
  }

  .app-icon-wrapper {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 40px;

    .app-icon {
      height: 15px;
    }
  }

  .icon-wrapper {
    float: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
  }

  .title-icon {
    -webkit-app-region: no-drag;
    background: $secondaryLightColor;
    height: 25px;
    width: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: lighten($secondaryLightColor, 20%);
    }

    &.close {
      &:hover {
        background: $dangerColor;
      }
    }
  }
}

#matchInfoWrapper {
  padding-left: 1rem;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 576px) {}

/* Larger than tablet */
@media (min-width: 768px) {}

/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
