@import '_variables.scss';

app-topbar {
  box-sizing: border-box;
  background: $secondaryDarkColor;
  height: 55px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.iconWrapper {
  transition: color 0.3s ease-in-out;

  fa-icon {
    cursor: pointer;
  }

  &.clickable {
    cursor: pointer;
  }

  &.state-0,
  &.state-4 {
    color: $dangerColor;
  }

  &.state-1,
  &.status-3,
  &.state-5 {
    color: $successColor;
  }

  &.state-2,
  &.state-3,
  &.status-2 {
    color: $warningColor;
  }
}

body .p-sidebar {
  padding: 0;
  border: 0;

  display: flex;

  .p-sidebar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  app-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.p-blockui.p-component-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.region-select-close {
  position: absolute !important;
  top: 3rem;
  right: 1rem;
}

.region-select-icon {
  height: 7rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

#menuIconWrapper {
  position: relative;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.menu-topbar {
  background: $secondaryDarkColor;
  height: 55px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid $secondaryColor;
  cursor: pointer;

  img {
    height: 100%;
  }
}

.menu-wrapper {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        display: block;
        box-sizing: border-box;
        padding: 1rem;
        color: $textColor;
        text-decoration: none;

        .badge {
          margin-left: .25rem;
        }
      }

      &.active a {
        border-left: .5rem solid $primaryColor;
        padding-left: .5rem;
        background: $secondaryColor;
      }

      &:not(.active) a:hover {
        border-left: .25rem solid $primaryColor;
        padding-left: .75rem;
        background: $secondaryColor;
      }


      border-bottom: 1px solid $secondaryLightColor;
    }
  }
}

app-qr {
  img {
    width: 100%;
  }
}

app-qr-scan {
  height: 100%;
}

.qr-scan-wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto minmax(250px, 1fr);
}

.menu-user-section{
  border-top: 1px solid $secondaryLightColor;
  padding: 1rem;
  transition: all .3s ease-in-out;

  &.authenticated{
    cursor: pointer;
    &:hover{
      background: $secondaryColor;
    }
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 576px) {
}

/* Larger than tablet */
@media (min-width: 768px) {
}

/* Larger than desktop */
@media (min-width: 992px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
