<div class="iconWrapper" (click)="openQrDialog($event)">
  <fa-icon [icon]="qrIcon" size="2x" [fixedWidth]="true"></fa-icon>
</div>

<p-overlayPanel #qrErrorDetails>
  <ng-container *isBrowser>
    <p>
      {{ 'service.issues.token.browser' | translate }}
    </p>
  </ng-container>
  <ng-container *isDesktop>
    <p>
      {{ 'service.issues.token.desktop' | translate }}
    </p>
  </ng-container>
</p-overlayPanel>
<div class="iconWrapper state-{{signalrService.$socketStatus | async}}" [pTooltip]="(statusText | async) | translate"
  tooltipPosition="bottom">
  <fa-icon [icon]="connectionIcon" size="2x" [fixedWidth]="true"></fa-icon>
</div>

<div class="iconWrapper" *ngIf="(signalrService.$socketStatus | async) == 0">
  <p-button *ngIf="!(showOnTablet | async)" (click)="reconnect()" icon="pi pi-replay"
    [label]="'service.reconnect' | translate" styleClass="ui-button-success"></p-button>
  <p-button *ngIf="showOnTablet | async" (click)="reconnect()" icon="pi pi-replay" styleClass="ui-button-success">
  </p-button>
</div>