<p class="p-mb-2" [innerHTML]="'pathPicker.description' | translate | sanitizeHtml"></p>

<div class="input-wrap p-fluid p-mb-4">
  <div class="p-inputgroup">
    <input pInputText [title]="settingsService.form.mainClient.model" type="text" pInputText [disabled]="true"
           [value]="settingsService.form.mainClient.model">
    <button pButton type="button" icon="pi pi-folder" (click)="pickPath()"></button>
  </div>
</div>
<ng-container *ngIf="paths.length > 0">
  <h3>{{ 'pathPicker.multiClientSelect' | translate  }}</h3>
  <div class="input-wrap p-fluid p-mb-4">
    <p-dropdown [options]="options" [formControl]="settingsService.form.selectedDirectory" appendTo="body"></p-dropdown>
  </div>
</ng-container>
<ng-container *ngIf="additionalInformation | async;let info">
  <h3>{{'pathPicker.additionalInfo.title' | translate}}</h3>
  <table>
    <tbody>

    </tbody>
  </table>
  <p-table [value]="info" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="width: 35%">{{item.label | async}}</td>
        <td>{{item.value}}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
