<p [innerHTML]="'pathPicker.description' | translate | sanitizeHtml"></p>

<div class="input-wrap ui-fluid space-bottom">
  <div class="ui-inputgroup">
    <input pInputText [title]="config.mainClient" type="text" pInputText [disabled]="true"
      [ngModel]="config.mainClient">
    <button pButton type="button" icon="pi pi-folder" (click)="pickPath()"></button>
  </div>
</div>
<ng-container *ngIf="paths.length > 0">
  <h3>{{ 'pathPicker.multiClientSelect' | translate  }}</h3>
  <div class="input-wrap ui-fluid space-bottom">
    <p-dropdown [options]="options" [(ngModel)]="config.selectedDirectory"></p-dropdown>
  </div>
</ng-container>
<ng-container *ngIf="directoryService.$status | async;let info">
  <h3>{{'pathPicker.additionalInfo' | translate}}</h3>
  <pre>
Region:               {{info.region | region}}
Client version:       {{info.clientVersion}}
<ng-container *ngIf="info.steamVersion">
Folder version:       {{info.folderVersion}}
</ng-container>
Steam version:        {{info.steamVersion}}
Replays pathbase:     {{info.replaysPathBase}}
Preferences pathbase: {{info.preferencesPathBase}}
Replays folder found: {{info.replaysFoldersFound}}
Replays paths:        {{info.replaysFolders | join:',\n'}}
      </pre>
</ng-container>
