<div class="info-wrapper"
  [ngClass]="{ 'me': player.relation == 0, 'bot': player.bot, 'hidden': player.hidden, 'player': !player.bot && !player.hidden, 'no-battles': !player.bot && !player.hidden && !player.shipStats, 'force-white': !config.coloredValues, 'legacy': false, 'compact': true }"
  (click)="openWowsNumbers(player)">
  <div id="name">
    <strong>
      <span *ngIf="player.clan && !cw"
        [style.color]="player.clan.color | sanitizeCss">[{{player.clan.tag}}]&nbsp;</span>
      <span>{{player.name}}</span>
    </strong>
  </div>
  <div id="ovr-winrate">
    <app-value-label label="Account Winrate" [icon]="faTrophy">
      <strong
        [style.color]="player.overallStats?.winrateColor | sanitizeCss">{{player.overallStats?.winrate | number:'0.0-2'}}%</strong>
    </app-value-label>
  </div>
  <div id="ovr-battles">
    <app-value-label label="Account Battles" [icon]="faGavel">
      <strong [style.color]="player.overallStats?.battlesColor | sanitizeCss">{{player.overallStats?.battles}}</strong>
    </app-value-label>
  </div>
  <div id="karma">
    <app-value-label label="Karma" [icon]="faHeart">
      <strong>{{player.karma}}</strong>
    </app-value-label>
  </div>
  <div id="ship">
    <strong>{{player.shipInfo.name}}</strong> (Tier {{player.shipInfo.tier | roman}})
  </div>
  <div id="winrate">
    <app-value-label label="Winrate" [icon]="faTrophy">
      <strong
        [style.color]="player.shipStats?.winrateColor | sanitizeCss">{{player.shipStats?.winrate | number:'0.0-2'}}%</strong>
    </app-value-label>
  </div>
  <div id="battles">
    <app-value-label label="Battles" [icon]="faGavel">
      <strong>{{player.shipStats?.battles}}</strong>
    </app-value-label>
  </div>
  <div id="wins">
    <app-value-label label="Wins" [icon]="faTrophy">
      <strong>{{player.shipStats?.wins}}</strong>
    </app-value-label>
  </div>
  <div id="pr">
    <app-value-label label="PR" [icon]="faExclamation">
      <span [pTooltip]="'monitor.pr.poweredBy' | translate" tooltipPosition="bottom"
        [style.color]="player.shipStats?.personalRatingColor | sanitizeCss"><strong>{{player.shipStats?.personalRating}}</strong></span>
    </app-value-label>
  </div>
  <div id="avg-damage">
    <app-value-label label="Avg Damage" [icon]="faFire">
      <strong
        [style.color]="player.shipStats?.averageDamageColor | sanitizeCss">{{player.shipStats?.averageDamage | number:'0.0-0'}}</strong>
    </app-value-label>
  </div>
  <div id="avg-frags">
    <app-value-label label="Avg Frags" [icon]="faSkull">
      <strong
        [style.color]="player.shipStats?.averageFragsColor | sanitizeCss">{{player.shipStats?.averageFrags | number:'0.0-1'}}</strong>
    </app-value-label>
  </div>
  <div id="avg-xp">
    <ng-container *ngIf="!cw">
      <app-value-label label="Avg Xp" [icon]="faBulb">
        <strong>{{player.shipStats?.averageXp | number:'0.0-0'}}</strong>
      </app-value-label>
    </ng-container>
  </div>
  <div id="message">
    <ng-container *ngIf="player.hidden">
      {{ 'monitor.hidden' | translate }}
    </ng-container>
    <ng-container *ngIf="player.bot">
      {{ 'monitor.bot' | translate }}
    </ng-container>
    <ng-container *ngIf="!player.bot && !player.hidden && !player.shipStats">
      {{ 'monitor.noBattles' | translate }}
    </ng-container>
  </div>
</div>
<!-- {
  "accountId": 534414851,
  "bot": false,
  "hidden": false,
  "karma": 220,
  "relation": 0,
  "name": "Lumeniac",
  "shipInfo": {
    "name": "République",
    "tier": 10,
    "id": 4179572560,
    "type": "Battleship"
  },
  "overallStats": {
    "battles": 256,
    "winrate": 64.0625,
    "averageXp": 0,
    "averageDamage": 83633,
    "averageFrags": 0.73046875,
    "personalRating": 0
  },
  "shipStats": {
    "battles": 188,
    "winrate": 64.8936170212766,
    "averageXp": 0,
    "averageDamage": 83102,
    "averageFrags": 0.69680851063829785,
    "personalRating": 1104
  },
  "clan": {
    "id": 500139870,
    "name": "Marine Division Fenrir",
    "color": "#CDA4FF",
    "tag": "MDF"
  }
} -->
