<div class="container small" externalLink>
  <p-card>
    <h2>{{ 'configtool.header' | translate}}</h2>

    <a (click)="showDescription=true">{{ 'configtool.why' | translate}}</a>
    <p style="margin-bottom: 3em!important;" [innerHTML]="'configtool.descriptionShort' | translate | sanitizeHtml">
    </p>

    <p-dialog [appendTo]="'body'" [blockScroll]="true" [modal]="true" [header]="'configtool.why' | translate"
      [(visible)]="showDescription" [style]="{'max-width': '400px'}">
      <div [innerHtml]="'configtool.description' | translate | sanitizeHtml"></div>
    </p-dialog>

    <section class=" options-wrapper">
      <article class="options-left">
        <h3>{{'configtool.headerClients' | translate}}</h3>
        <div class="options-input-wrapper">
          <label>{{ 'configtool.paths.selectedDirectory' | translate }}</label>
          <input pInputText [title]="config.selectedDirectory" type="text" [disabled]="true"
            [ngModel]="config.selectedDirectory">
        </div>
        <h3>{{ 'configtool.paths.instances' | translate }}</h3>
        <div class="options-input-wrapper" *ngFor="let path of config.configtoolConfig.clientPaths;let i = index;">
          <label>{{ 'configtool.paths.client' | translate }} {{i+1}}</label>
          <div class="ui-inputgroup">
            <input pInputText [title]="path" type="text" [disabled]="true" [(ngModel)]="path">

            <button pButton type="button" icon="pi pi-folder" (click)="selectPath(i)"></button>
            <button (click)="removePath(i)" pButton type="button" icon="pi pi-times"></button>
          </div>
        </div>
        <button class="addButton" pButton type="button" [label]="'configtool.paths.add'| translate" icon="pi pi-plus"
          (click)="config.configtoolConfig.clientPaths.push('')">
        </button>
      </article>
      <article class="options-right settings">
        <section>
          <h3>{{'configtool.headerOptions' | translate}}</h3>
          <article>
            <caption>
              {{ 'configtool.options.maxFrameRate.caption' | translate }}
            </caption>
            <summary>
              {{ 'configtool.options.maxFrameRate.summary' | translate }}
            </summary>
            <div class="input-wrap">
              <input pInputText [(ngModel)]="config.configtoolConfig.maxFrameRate" (ngModelChange)="configChanged()"
                type="number">
            </div>
          </article>
          <article>
            <caption>
              {{ 'configtool.options.versionedReplays.caption' | translate }}
            </caption>
            <div class="checkbox">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.versionedReplaysEnabled"
                (ngModelChange)="configChanged()"></p-inputSwitch>
            </div>
            <summary [class.disabled]="!config.configtoolConfig.versionedReplaysEnabled">
              {{ 'configtool.options.versionedReplays.summary' | translate }}
            </summary>
            <div class="input-wrap" [class.disabled]="!config.configtoolConfig.versionedReplaysEnabled">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.versionedReplays" (ngModelChange)="configChanged()"
                [disabled]="!config.configtoolConfig.versionedReplaysEnabled"></p-inputSwitch>
            </div>
          </article>
          <article>
            <caption>
              {{ 'configtool.options.maxReplaysToSave.caption' | translate }}
            </caption>
            <div class="checkbox">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.maxReplaysToSaveEnabled"
                (ngModelChange)="configChanged()"></p-inputSwitch>
            </div>
            <summary [class.disabled]="!config.configtoolConfig.maxReplaysToSaveEnabled">
              {{ 'configtool.options.maxReplaysToSave.summary' | translate }}
            </summary>
            <div class="input-wrap" [class.disabled]="!config.configtoolConfig.maxReplaysToSaveEnabled">
              <input pInputText [(ngModel)]="config.configtoolConfig.maxReplaysToSave" (ngModelChange)="configChanged()"
                type="number" [disabled]="!config.configtoolConfig.maxReplaysToSaveEnabled">
            </div>
          </article>
          <article>
            <caption>
              {{ 'configtool.options.streamCacheSizeKB.caption' | translate }}
            </caption>
            <div class="checkbox">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.streamCacheSizeKBEnabled"
                (ngModelChange)="configChanged()"></p-inputSwitch>
            </div>
            <summary [class.disabled]="!config.configtoolConfig.streamCacheSizeKBEnabled">
              {{ 'configtool.options.streamCacheSizeKB.summary' | translate }}
            </summary>
            <div class="input-wrap" [class.disabled]="!config.configtoolConfig.streamCacheSizeKBEnabled">
              <input pInputText [(ngModel)]="config.configtoolConfig.streamCacheSizeKB"
                (ngModelChange)="configChanged()" type="number"
                [disabled]="!config.configtoolConfig.streamCacheSizeKBEnabled">
            </div>
          </article>
          <article>
            <caption>
              {{ 'configtool.options.cacheEffects.caption' | translate }}
            </caption>
            <div class="checkbox">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.cacheEffectsEnabled"
                (ngModelChange)="configChanged()"></p-inputSwitch>
            </div>
            <summary [class.disabled]="!config.configtoolConfig.cacheEffectsEnabled">
              {{ 'configtool.options.cacheEffects.summary' | translate }}
            </summary>
            <div class="input-wrap" [class.disabled]="!config.configtoolConfig.cacheEffectsEnabled">
              <p-inputSwitch [(ngModel)]="config.configtoolConfig.cacheEffects" (ngModelChange)="configChanged()"
                [disabled]="!config.configtoolConfig.cacheEffectsEnabled"></p-inputSwitch>
            </div>
          </article>
        </section>
      </article>
    </section>


    <div class="button-row">
      <p-button (click)="start()" [label]="'configtool.start' | translate" styleClass="ui-button-success"></p-button>
    </div>
    <div class="console-output">
      <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <span class="line {{line.severity}}" *ngFor="let line of lines">>&nbsp;{{line.text}}</span>
      </p-scrollPanel>
    </div>
  </p-card>
</div>
