<p-autoComplete appendTo="body" [(ngModel)]="selection" (onSelect)="onSelect($event)" [suggestions]="autoCompleteResult"
                (completeMethod)="autocomplete($event)"
                [placeholder]="placeholder ? placeholder : 'clanwars.filters.favorites.placeholder' | translate">
  <ng-template let-item pTemplate="item">
    <span class="clan-search-item p-d-flex p-ai-center">
      <img src="assets/region-{{item.region}}.svg"/>[{{item.tag}}]&nbsp;{{item.name}}
    </span>
  </ng-template>
</p-autoComplete>
