<ng-container *isDesktop>
  <app-titlebar *isWindows></app-titlebar>
</ng-container>

<app-topbar class="p-d-flex p-ai-center p-jc-between p-p-2"></app-topbar>
<!-- <app-menu></app-menu> -->
<ng-container *isDesktop>
  <ngx-loading-bar class="desktop" color="#eb4a0f" [includeSpinner]="false"></ngx-loading-bar>
</ng-container>
<ng-container *isBrowser>
  <ngx-loading-bar color="#eb4a0f" [includeSpinner]="false"></ngx-loading-bar>
</ng-container>

<main class="p-full-size p-d-flex p-flex-grow p-flex-column scroll-container custom-scrollbar custom-scrollbar-light scroll-auto-hide
  p-pt-2 p-pr-2 p-pl-2 p-pb-0">
    <router-outlet></router-outlet>
</main>

<p-toast position="bottom-right" [styleClass]="'p-toast-custom'">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{message.summary | translate}}</div>
      <div class="p-toast-title">{{message.detail | translate}}</div>
    </div>
  </ng-template>
</p-toast>
