<div class="floating-buttons">
  <button class="p-button-rounded p-button-xl p-button p-component p-button-icon-only" routerLink="/">
    <span class="p-button-icon">
      <fa-icon [icon]="faDesktop" [fixedWidth]="true"></fa-icon>
    </span>
    <span aria-hidden="true" class="p-button-label">&nbsp;</span>
  </button>
</div>


<div class="container small settings">
  <p-card>
    <h2>{{ 'settings.header' | translate}}</h2>
    <section>
      <h3>{{ 'settings.general.title' | translate }}</h3>
      <ng-container *isWindows>
        <article *isDesktop>
          <caption>
            {{ 'settings.general.autoUpdate.caption' | translate }}
          </caption>
          <summary>
            {{ 'settings.general.autoUpdate.summary' | translate }}
          </summary>
          <div class="input-wrap">
            <p-inputSwitch [formControl]="monitorConfig.autoUpdate"></p-inputSwitch>
          </div>
        </article>
        <article *isDesktop>
          <caption>
            {{ 'settings.general.allowBeta.caption' | translate }}
          </caption>
          <summary>
            {{ 'settings.general.allowBeta.summary' | translate }}
          </summary>
          <div class="input-wrap">
            <p-inputSwitch [formControl]="monitorConfig.allowBeta"></p-inputSwitch>
          </div>
        </article>
      </ng-container>
      <article *isBrowser>
        <caption>
          {{ 'settings.general.enableAnalytics.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.enableAnalytics.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.enableAnalytics"></p-inputSwitch>
        </div>
      </article>
      <article [class.disabled]="!monitorConfig.enableAnalytics">
        <caption>
          {{ 'settings.general.anonymIp.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.anonymIp.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.anonymIp"></p-inputSwitch>
        </div>
      </article>
      <article *isDesktop>
        <caption>
          {{ 'settings.general.closeToTray.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.closeToTray.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.closeToTray"></p-inputSwitch>
        </div>
      </article>
    </section>
    <section>
      <a id="appearance" href="#appearance"></a>
      <h3>{{ 'settings.appearance.title' | translate }}</h3>
      <article>
        <caption>
          {{ 'settings.appearance.fontsize.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.fontsize.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="fontSizeOptions" [formControl]="monitorConfig.fontSize">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label$ | async}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.layoutMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.layoutMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="layoutModeOptions" [formControl]="monitorConfig.layoutMode">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label$ | async}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.highContrastMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.highContrastMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.highContrastMode"></p-inputSwitch>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.playerBackgroundsMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.playerBackgroundsMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="playerBackgroundsModeOptions" [formControl]="monitorConfig.playerBackgroundsMode">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label$ | async}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article [class.disabled]="monitorConfig.playerBackgroundsMode.model === 0">
        <caption>
          {{ 'settings.appearance.playerBackgrounds.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.playerBackgrounds.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="playerBackgroundsOptions" [formControl]="monitorConfig.playerBackgrounds">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label$ | async}}</span>
            </ng-template>
          </p-selectButton>
          <!-- <p-dropdown appendTo="body" [options]="playerBackgroundsOptions" [formControl]="config.playerBackgrounds">
            <ng-template let-item pTemplate="selectedItem">
              {{item.label | translate}}
            </ng-template>
            <ng-template let-item pTemplate="item">
              {{item.label | translate}}
            </ng-template>
          </p-dropdown> -->
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.coloredValues.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.coloredValues.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.coloredValues"></p-inputSwitch>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.soloStats.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.soloStats.summary' | translate }}
        </summary>
        <div class="input-wrap p-inputgroup">
          <p-multiSelect [style]="{ minWidth: '200px' }"
                         [appendTo]="'body'"
                         [options]="soloStatsOptions"
                         [formControl]="monitorConfig.soloStats"
                         [showToggleAll]="true"
                         [placeholder]="'settings.appearance.soloStats.placeholder' | translate">
            <ng-template let-types pTemplate="selectedItems">
              <span>{{'settings.appearance.soloStats.itemsSelected' | translate:{count: types.length} }}</span>
            </ng-template>
            <ng-template let-type pTemplate="item">
              {{type.label$ | async}}
            </ng-template>
          </p-multiSelect>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.teamWinrate.caption' | translate }}
        </caption>
        <summary>
          <div [innerHTML]="'settings.appearance.teamWinrate.summary' | translate | sanitizeHtml"></div>
          <a (click)="showExaplanationDialog = true">{{'settings.appearance.teamWinrate.explanation' | translate}}</a>
        </summary>
        <p-dialog [header]="'settings.appearance.teamWinrate.explanation' | translate"
                  [(visible)]="showExaplanationDialog" [style]="{'max-width': '600px'}" [modal]="true">
          <p externalLink>
            <strong>Average (Mean) and Median</strong> <br/>
            <a href="https://www.purplemath.com/modules/meanmode.htm">https://www.purplemath.com/modules/meanmode.htm</a>
          </p>
          <p>
            <strong>Weighted</strong> <br/>
            Weighted calculates the average by taking all wins divided by all battles, so that players with less battles
            have less impact on the end result. However, it caps the battles at 40. Meaning all players with more than
            40 battles are weighted equally.
          </p>
          <pre>
total_wins = 0.0
total_battles = 0.0
for player in players:
    if player.battles < 40:
        total_wins += player.wins
        total_battles += player.battles
    else:
        total_wins += 40*(player.wins/player.battles)
        total_battles += 40
weighted_WR = total_wins/total_battles
        </pre>
        </p-dialog>
        <div class="input-wrap">
          <p-selectButton [options]="teamWinrateOptions" [formControl]="monitorConfig.teamWinrate">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label$ | async}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.screenshots.showWowsKarma.caption' | translate }}
        </caption>
        <summary externalLink [innerHTML]="'settings.screenshots.showWowsKarma.summary' | translate | sanitizeHtml">
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.showWowsKarma"></p-inputSwitch>
        </div>
      </article>
    </section>
    <section *isDesktop>
      <h3>{{ 'settings.screenshots.title' | translate }}</h3>
      <article>
        <caption>
          {{ 'settings.screenshots.anonymScreenshot.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.screenshots.anonymScreenshot.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [formControl]="monitorConfig.anonymScreenshot"></p-inputSwitch>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.screenshots.screenshotPath.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.screenshots.screenshotPath.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <app-file-picker [control]="monitorConfig.screenshotPath"></app-file-picker>
        </div>
      </article>
    </section>
    <section *isDesktop>
      <h3>{{ 'settings.miscellaneous.title' | translate }}</h3>
      <article>
        <caption>
          {{ 'settings.miscellaneous.overwriteReplaysDirectory.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.miscellaneous.overwriteReplaysDirectory.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <app-file-picker [control]="monitorConfig.overwriteReplaysDirectory"
                           [defaultPath]="settingsService.form.selectedDirectory.model"></app-file-picker>
        </div>
      </article>
    </section>
  </p-card>
</div>
