<div class="floating-buttons">
  <a routerLink="/home" class="round-icon-button">
    <fa-icon [icon]="faDesktop" [fixedWidth]="true"></fa-icon>
  </a>
</div>

<div class="container small settings" externalLink>
  <p-card>
    <h2>{{ 'settings.header' | translate}}</h2>
    <section>
      <h3>{{ 'settings.general.title' | translate }}</h3>
      <ng-container *isWindows>
        <article *isDesktop>
          <caption>
            {{ 'settings.general.autoUpdate.caption' | translate }}
          </caption>
          <summary>
            {{ 'settings.general.autoUpdate.summary' | translate }}
          </summary>
          <div class="input-wrap">
            <p-inputSwitch [(ngModel)]="config.autoUpdate"></p-inputSwitch>
          </div>
        </article>
        <article *isDesktop>
          <caption>
            {{ 'settings.general.allowBeta.caption' | translate }}
          </caption>
          <summary>
            {{ 'settings.general.allowBeta.summary' | translate }}
          </summary>
          <div class="input-wrap">
            <p-inputSwitch [(ngModel)]="config.allowBeta"></p-inputSwitch>
          </div>
        </article>
      </ng-container>
      <article *isBrowser>
        <caption>
          {{ 'settings.general.enableAnalytics.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.enableAnalytics.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [(ngModel)]="config.enableAnalytics"></p-inputSwitch>
        </div>
      </article>
      <article [class.disabled]="!config.enableAnalytics">
        <caption>
          {{ 'settings.general.anonymIp.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.anonymIp.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [(ngModel)]="config.anonymIp"></p-inputSwitch>
        </div>
      </article>
      <article *isDesktop>
        <caption>
          {{ 'settings.general.closeToTray.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.general.closeToTray.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [(ngModel)]="config.closeToTray"></p-inputSwitch>
        </div>
      </article>
    </section>
    <section>
      <a id="appearance" href="#appearance"></a>
      <h3>{{ 'settings.appearance.title' | translate }}</h3>
      <article>
        <caption>
          {{ 'settings.appearance.fontsize.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.fontsize.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="fontSizeOptions" [(ngModel)]="config.fontsize">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label | translate}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.layoutMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.layoutMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="layoutModeOptions" [(ngModel)]="config.layoutMode">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label | translate}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.highContrastMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.highContrastMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [(ngModel)]="config.highContrastMode"></p-inputSwitch>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.playerBackgroundsMode.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.playerBackgroundsMode.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="playerBackgroundsModeOptions" [(ngModel)]="config.playerBackgroundsMode">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label | translate}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
      <article [class.disabled]="config.playerBackgroundsMode == 'disabled'">
        <caption>
          {{ 'settings.appearance.playerBackgrounds.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.playerBackgrounds.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-selectButton [options]="playerBackgroundsOptions" [(ngModel)]="config.playerBackgrounds">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label | translate}}</span>
            </ng-template>
          </p-selectButton>
          <!-- <p-dropdown appendTo="body" [options]="playerBackgroundsOptions" [(ngModel)]="config.playerBackgrounds">
            <ng-template let-item pTemplate="selectedItem">
              {{item.label | translate}}
            </ng-template>
            <ng-template let-item pTemplate="item">
              {{item.label | translate}}
            </ng-template>
          </p-dropdown> -->
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.coloredValues.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.appearance.coloredValues.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <p-inputSwitch [(ngModel)]="config.coloredValues"></p-inputSwitch>
        </div>
      </article>
      <article>
        <caption>
          {{ 'settings.appearance.teamWinrate.caption' | translate }}
        </caption>
        <summary>
          <div [innerHTML]="'settings.appearance.teamWinrate.summary' | translate | sanitizeHtml"></div>
          <a (click)="showExaplanationDialog = true">{{'settings.appearance.teamWinrate.explanation' | translate}}</a>
        </summary>
        <p-dialog [header]="'settings.appearance.teamWinrate.explanation' | translate"
          [(visible)]="showExaplanationDialog" [style]="{'max-width': '600px'}" [modal]="true">
          <p externalLink>
            <strong>Average (Mean) and Median</strong> <br />
            <a
              href="https://www.purplemath.com/modules/meanmode.htm">https://www.purplemath.com/modules/meanmode.htm</a>
          </p>
          <p>
            <strong>Weighted</strong> <br />
            Weighted calculates the average by taking all wins divided by all battles, so that players with less battles
            have less impact on the end result. However, it caps the battles at 40. Meaning all players with more than
            40 battles are weighted equally.
          </p>
          <pre>
total_wins = 0.0
total_battles = 0.0
for player in players:
    if player.battles < 40:
        total_wins += player.wins
        total_battles += player.battles
    else:
        total_wins += 40*(player.wins/player.battles)
        total_battles += 40
weighted_WR = total_wins/total_battles
        </pre>
        </p-dialog>
        <div class="input-wrap">
          <p-selectButton [options]="teamWinrateOptions" [(ngModel)]="config.teamWinrate">
            <ng-template let-item>
              <span class="p-button-text p-clickable ng-star-inserted">{{item.label | translate}}</span>
            </ng-template>
          </p-selectButton>
        </div>
      </article>
    </section>
    <section *isDesktop>
      <h3>{{ 'settings.miscellaneous.title' | translate }}</h3>
      <article>
        <caption>
          {{ 'settings.miscellaneous.overwriteReplaysDirectory.caption' | translate }}
        </caption>
        <summary>
          {{ 'settings.miscellaneous.overwriteReplaysDirectory.summary' | translate }}
        </summary>
        <div class="input-wrap">
          <div class="p-inputgroup">
            <input pInputText [title]="config.overwriteReplaysDirectory" type="text" [disabled]="true"
              [(ngModel)]="config.overwriteReplaysDirectory">
            <button *ngIf="config.overwriteReplaysDirectory" (click)="config.overwriteReplaysDirectory = ''" pButton
              type="button" icon="pi pi-times"></button>
            <button pButton type="button" icon="pi pi-folder" (click)="selectReplaysPath()"></button>
          </div>
        </div>
      </article>
    </section>
  </p-card>
</div>
