<!-- <div class="iconWrapper clickable" (click)="showPathInfo = true" *ngIf="config.$selectedDirectory | async"
  [pTooltip]="'pathPicker.info' | translate" tooltipPosition="bottom">
  {{config.$selectedDirectory | async}}
</div> -->
<div (click)="openDialog()"
  class="iconWrapper state-{{((directoryService.$status | async)?.replaysFoldersFound) ? 1 : 0}}"
  [pTooltip]="'pathPicker.pickFolder' | translate" tooltipPosition="bottom">
  <fa-icon [icon]="folderIcon" size="2x" [fixedWidth]="true"></fa-icon>
</div>
